<!DOCTYPE html>
<html>
  <body>
    <p align="center">
    <h1>WELCOME TO COVID 19 KNOWLEDGE MANAGEMENT APPLICATION</h1>
    <h2>DESIGNED BY ABHISHEK JOSHI</h2>
    <BR/>
    <h3>The steps you need to follow are:</h3>
    <ol>
      <li>Upload the excel file with the input (in xlsx format). Click NEXT.</li>
      <li>As soon as you hit NEXT, the python based backend deployed in Heroku remote servers will run an NLP algorithm on the data to tokenise it, and will then push it to the MongoDB.</li>
    </ol>
    <a>
        To start the process click on get started.
    </a>
    <br/>
    <br/>
    <a href="upload">
    <button class="grey" style="height: 25px; width: 150px">
        Get Started
    </button>
    </a>
    </p>
  </body>
</html>