<!DOCTYPE html>
<html>
  <body>
    <h1>Upload the following files and click on Upload Files Button to proceed</h1>
    <br/>
    <form method="post" enctype="multipart/form-data">
      <label for="dataset">Upload the dataset excel file (.xlsx)</label>
      <input type="file" name="dataset" id="dataset" />
      <br /><br />
      <input type="submit" value="Proceed" name="submit" />
    </form>
    <br/>
    After processing the given data and all the changes are completed in MongoDB and code files, a zipped folder with all the processed data will be downloaded.<br/><br/>
  </body>
</html>